/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
			DARWIN BLOG
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
/*<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>*/


/* ~~~~~~~~~~~~NOTES~~~~~~~~~~~~~ */
/*
COLOR PALETTE
blue: #0044aa;
yellow: #ffc500;
*/



/* ~~~~~~~~~~~~GLOBAL~~~~~~~~~~~~~ */
html *
{
	font-family: 'muli' !important;
}

body {
	font-family: 'muli' !important;
}

a:hover{
text-decoration:none;
color: #ffc500;
}

/* ~~~~~~~~~~~~NAV BAR~~~~~~~~~~~~~ */
/* navbar */
.navbar-default {
    background-color:white;
    border-color: white;  
}

.navbar-nav{
	text-align: center;
}

.navbar-nav .header-icon{
	font-size:2em;
}

/* navbar link */
.navbar-default .navbar-nav > li > a {
    color: #0044aa;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffc500;
}

.nav-selection{
	background-color: #0044aa !important;
}
.nav-selection a{	
	color: white !important;
}


/* ~~~~~~~~~~~~TOP ROW~~~~~~~~~~~~~ */
.row #top-row{
	background-color:#0044aa;
	text-align:center;
	color:white;
	height:200px;
	width:100%;
	display: table;
}

.row #top-row .page-header{
	display: table-cell; 
	vertical-align: middle;
	color:white;
}

/* ~~~~~~~~~~~~ COMPOSE ~~~~~~~~~~~~~ */
#new-post{color: #0044aa; font-family: 'muli'}

#new-post .title{width:100%; height:50px; margin-top: 40px; margin-bottom:20px; border-radius: 15px; font-weight:bold; font-size: large;}
#postImageDropzone{border-radius: 15px; text-align: center;}
#new-post .content{width:100%; height:200px; margin-top: 40px; margin-bottom:20px; border-radius: 15px;}
#new-post input, textarea{ border:solid 1px #0044aa;}
#new-post form{width:100%; height:200px; margin-top: 40px; margin-bottom:20px; border:dashed 2px #0044aa; color: #0044aa;}
#new-post input:hover, form:hover, textarea:hover{ border:solid 1px #ffc500;}
#new-post form:hover{ border:solid 1px #ffc500;}
#new-post input:focus{outline: 0; background-color: #FFEEB2; border:solid 1px #ffc500;}
#new-post textarea:focus{outline: 0; background-color: #FFEEB2; border:solid 1px #ffc500;}
#new-post form:focus{ background-color: #FFEEB2;  border:solid 1px #ffc500;}
.dropzone-previews{width:100%; height:100px; margin-top: 40px; margin-bottom:20px; border:dashed 1px #0044aa; color: #0044aa;}
.dropzone-text{ text-align:center; font-weight:bold; display: inline-block; vertical-align: middle;}
.dropzone-text i{font-size:5em;}
}




/* ~~~~~~~~~~~~POST~~~~~~~~~~~~~ */
#posts{
border: 2px solid #d9e8ff;
border-radius: 5px;
margin-bottom:20px;
margin-top:20px;
}
.posts-box{
	background-color:#d9e8ff;
}
#posts .title{
	text-align:center;
}
#posts .title a{
	color:black;
}
#posts .read-more{
	/*float:right;*/
}

/* ~~~~~SIDE WIDGET WELLS~~~~ */
.well{
	/*background-color:#abd4ff;*/
	background-color: #B2C7E6;
	color:white;
	border-radius: 5px;
}
.well-title-box h4{
	color: #0044aa;
}

/*---readers----*/
.reader{
	background-color:white;
	height:40px;
	width:40px;
}


/* ~~~~~READING BLOG ICONS~~~~ */
.collection2{
	background-color:red;
	width:50%;
	height:200px;
	border-radius: 5px;
}


/* ~~~~~~~~~~~~BUTTONS~~~~~~~~~~~~~ */
.btn{
	color:white;
	background-color: #0044aa;
	border: none;
}

.btn:hover{
	background-color: #ffc500;
	border: none;
}

.pager a{
	color:#0044aa;
	background-color:white;
}

/* ~~~~~~~~~~~~MODALS~~~~~~~~~~~~~ */
.modal-content {
	background-color:#d2e3ff;
}

.modal-header{
	background-color:white;
}


/* ~~~~~~~~~~~~FOOTER~~~~~~~~~~~~~ */
footer{
	text-align:center;
}

footer ul{
	list-style-type: none;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
			READING PGE
/*vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
/*<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>*/
#reading-template{
	float:left; 
	padding-right:10px; 
	padding-left:10px;
	width:50%;
}



