* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

span.bold {
    font-weight: bold;
}

span.italic {
    font-style: italic;
}

div#header, div#posts, div#controls {
    width: 800px;
    margin: 10px auto;
}

div#header p.title {
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
    color: #f2a011;
    text-align: center;
}

div#header p.subtitle {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    color: #aaa;
    text-align: center;
}

div#posts {
    margin-bottom: 30px;
}

div#posts div.collection {
    margin: 10px 0;
}

div#posts div.collection div.post {
    border-bottom: 1px solid #f5f5f5;
    margin: 20px 0;
    padding: 20px;
}

div#posts div.collection div.post p.title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #777;
}

div#posts div.collection div.post p.content {
    font-size: 18px;
    color: #888;
}

div#controls {
    margin-bottom: 30px;
}

div#new-post, div#remote-blogs {
    display: inline-block;
    width: 350px;
    padding: 20px;
}

div#new-post {
    background-color: #f2a011;
}

div#new-post p.title, div#remote-blogs p.title {
    margin-bottom: 10px;
    font-size: 24px;
    color: #fff;
}

div#new-post input[type='text'], div#new-post textarea {
    border: 3px solid #e09209;
    width: 334px;
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 15px;
    color: #686868;
    outline: none;
}

div#new-post textarea {
    resize: vertical;
}

div#new-post button {
    background-color: #e09209;
    border-radius: 5px;
    border: 0;
    padding: 5px 10px;
    font-size: 20px;
    color: #fff;
    outline: none;
    cursor: pointer;
}

div#remote-blogs {
    background-color: #93d117;
    float: right;
}

div#remote-blogs p.subtitle {
    margin-bottom: 5px;
    font-size: 16px;
    font-style: italic;
    color: #fff;
}

div#remote-blogs div.collection div.connection {
    background-color: #86c210;
    width: 340px;
    display: table;
    padding: 5px;
}

div#remote-blogs div.collection div.connection p {
    display: table-cell;
    font-size: 13px;
    color: #fff;
}

div#remote-blogs div.collection div.connection p.secondary a {
    width: 35px;
    color: #fff;
}
