/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 * MODIFIED: By WIDE IO LTD
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: -webkit-linear-gradient(160deg, #001433, #0044aa, #0044aa); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(160deg, #001433, #0044aa, #0044aa); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(160deg, #001433, #0044aa, #0044aa); /* For Firefox 3.6 to 15 */
    background: linear-gradient(160deg, #001433, #0044aa, #0044aa); /* Standard syntax */
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

h1 {
  color:#0044aa; 
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */
.darwin-sidebar-logo-container{text-align: center; display:table;}
.darwin-sidebar-logo {width:50%; margin-left:'auto'; margin-right:'auto';  margin-top:20px; display:cell;}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    color: #fff;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    font-family: 'lato', sans-serif;
    text-align:center;
}

.sidebar-nav > .sidebar-brand a{
  text-decoration: none;
}

  
  .circlebutton{
    display:block;
    width:30px;
    height:30px;
    line-height:50px;
    font-size:30px;
    color:#001433;
    text-align:center;
    text-decoration:none;
    border-radius: 50%;
    background-color:white;
    border: solid 1px #001433;
    font-size:20px;
    font-weight:bold;
    float:left;
  }
    
.circlebutton:hover{
  color:#fff;
  background-color: #0044aa;
  border: solid 1px #0044aa;
}  

.contents-label{
  line-height:300%; 
  font-size:10px;
}

#toggle-icon{
  margin-top:4px;
}  
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#0044aa
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}