.panel{
	/*	margin-top:100px;
		margin-left: 10%;
		width:50%;
		height:400px;
		float:left; */
}

.preview{
		width:100%;
		float: left;
}

.main-layout-container{
		text-align: center;
		margin-top:100px;
}

.main-layout{
		width:700px;
		height:350px;
		display: table;
    	margin: 0 auto;
}

#darwin-file-explorer{
	height:350px;
}

#operation_menu{
	position:absolute;
	bottom:0px;
}