      
      
      
      </section>
      <footer>

      </footer>

      
                      
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    
  </body>
  
           <!-- jQuery -->
    <script src="jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        $("#toggle-icon").toggleClass("ion-close-round");
        $("#toggle-icon").toggleClass("ion-navicon-round");      
    });
    </script>
        
        

</html>
